<!-- list.component.html -->
<div class="p-6 max-w-4xl mx-auto">
  <div class="flex gap-4 mb-4">
    <input
      type="text"
      placeholder="Search by title"
      [(ngModel)]="searchTitle"
      (ngModelChange)="onSearch()" 
      class="border p-2 rounded w-1/2"
    />
    <select [(ngModel)]="searchCompleted" (ngModelChange)="onSearch()"  class="border p-2 rounded">
      <option value="">All</option>
      <option [value]="true">Completed</option>
      <option [value]="false">Not Completed</option>
    </select>
   
  </div>
  <div class="flex justify-end mb-4">
    <button
      class="bg-purple-600 text-white px-4 py-2 rounded-lg hover:bg-purple-700"
      routerLink="create"
    >
      + Add Todo
    </button>
  </div>
   <div class="overflow-x-auto">
  <table class="w-full border-collapse text-left">
    <thead>
      <tr class="bg-purple-100">
        <th class="p-2 border">ID</th>
        <th class="p-2 border">Title</th>
        <th class="p-2 border">Description</th>
        <th class="p-2 border">Completed</th>
        <th class="p-2 border">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todos" class="hover:bg-purple-50">
        <td class="p-2 border">{{ todo.id }}</td>
        <td class="p-2 border">{{ todo.title }}</td>
        <td class="p-2 border">{{ todo.description }}</td>
        <td class="p-2 border">
          <span [ngClass]="todo.is_Completed ? 'text-green-600' : 'text-red-500'">
            {{ todo.is_Completed ? 'Yes' : 'No' }}
          </span>
        </td>
        <td class="p-2 border flex gap-2">
          <button (click)="onEdit(todo)" class="bg-yellow-400 text-white px-2 rounded hover:bg-yellow-500">Edit</button>
          <button (click)="onDelete(todo.id!)" class="bg-red-500 text-white px-2 rounded hover:bg-red-600">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>

